{% extends 'base.html' %}
{% load static %}

{% block start %}

<div id="carouselExampleFade" class="carousel slide carousel-fade mt-1">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/4.jpg' %}" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/5.jpg' %}" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="..." style="height: 600px; object-fit: cover;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h5 class="mt-2 p-2 text-center text-light background">Latest Product Section</h5>

<div class="container-fluid">
  <div class="row">
    {% for i in product %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
      <div class="card">
        {% if i.pic1 %}
        <a href="/single-product/{{i.id}}/">
          <img src="{{i.pic1.url}}" alt="" width="100%" style="height: 280px; object-fit: cover;">
        </a>
        {% else %}
        <a href="/single-product/{{i.id}}/">
          <img src="{% static 'images/noimageu.png' %}" alt="" width="100%" style="height: 280px; object-fit: cover;">
        </a>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p>Price: &#8377; <del> {{i.baseprice}}</del> {{i.finalprice}}</p>
          <p>Discount: {{i.discount}}%</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}